In [2]:
import sqlite3 as sql
import pandas as pd

In [83]:
df = pd.read_excel('FINAL450.xlsx')

In [84]:
df

                Topic                                            Problem Done
0               Array                                  Reverse the array    n
1               Array   Find the maximum and minimum element in an array    n
2               Array    Find the "Kth" max and min element of an array     n
3               Array  Given an array which consists of only 0, 1 and...    n
4               Array  Move all the negative elements to one side of ...    n
..                ...                                                ...  ...
443  Bit Manipulation                  Find position of the only set bit    n
444  Bit Manipulation                           Copy set bits in a range    n
445  Bit Manipulation  Divide two integers without using multiplicati...    n
446  Bit Manipulation  Calculate square of a number without using *, ...    n
447  Bit Manipulation                                          Power Set    n

[448 rows x 3 columns]

In [85]:

id = range(0, 448)
# print(*id)
df['id'] = [*id]
df

,Topic,Problem,Done,id
0,Array,Reverse the array,n,0
1,Array,Find the maximum and minimum element in an array,n,1
2,Array,"Find the ""Kth"" max and min element of an array",n,2
3,Array,"Given an array which consists of only 0, 1 and...",n,3
4,Array,Move all the negative elements to one side of ...,n,4
...,...,...,...,...
443,Bit Manipulation,Find position of the only set bit,n,443
444,Bit Manipulation,Copy set bits in a range,n,444
445,Bit Manipulation,Divide two integers without using multiplicati...,n,445
446,Bit Manipulation,"Calculate square of a number without using *, ...",n,446
447,Bit Manipulation,Power Set,n,447

In [90]:
conn = sql.connect("./questions.sqlite")

In [91]:
df.to_sql("got_best_placement", conn)

In [92]:
df.keys()

Index(['Topic', 'Problem', 'Done', 'id'], dtype='object')

In [112]:
df = pd.read_sql("SELECT * FROM got_best_placement WHERE done = 'n' ORDER BY RANDOM() LIMIT 15", conn)

In [114]:
df.to_excel('FINAL15.xlsx')

In [118]:
curr = conn.cursor()
for i, r in df.iterrows():
    curr.execute('''UPDATE got_best_placement SET Done = 'y' WHERE got_best_placement.id = {id} '''.format(**r.to_dict()))
conn.commit()

In [123]:
# curr.execute('''UPDATE got_best_placement SET Done = 'n' WHERE got_best_placement.id = 1 ''')
# conn.commit()
curr.execute('''SELECT * FROM got_best_placement WHERE Done='y' ''')
curr.fetchall().__len__()

0

In [122]:
# curr.execute('''UPDATE got_best_placement SET Done = 'n' WHERE Done = 'y' ''')
# conn.commit()

In [124]:
conn.close()